---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>

<style>
	a {
		display: inline-block;
		text-decoration: none;
	}
	/* 注释掉或删除下面这段默认样式，
       因为我们在 Header.astro 里已经自定义了 .active 的样式（阴影）
    */
	/*
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}
	*/
</style>